source https://api.nuget.org/v3/index.json

strategy: max

nuget FSharp.Core >= 4.7

group Formatting
    source https://api.nuget.org/v3/index.json
    nuget FSharp.Formatting 4.0.0-rc1
    nuget FSharp.Formatting.CommandTool 4.0.0-rc1

group Test
    source https://api.nuget.org/v3/index.json
    frameworks: netcoreapp3.1

    nuget Expecto
    nuget Expecto.TestResults